.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 1fr;;
    gap: 48px 40px;
    margin: 0 auto;
    
}

@media screen and (max-width: 1184x) {
.place {
    grid-template-columns: 440px 1fr;;
    gap: 48px 32px;
}
}
      
  @media screen and (max-width: 868px) {
.place {
    grid-template-columns: 340px 1fr;;
    gap: 48px 28px;
}    
  }
      
  @media screen and (max-width: 640px) {
.place {
    grid-template-columns: 1fr;;
    gap: 48px 40px;
}
  }