@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    display: flex; 
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 48px 24px 48px;
                         
                        }

@media screen and (max-width: 767px) {
        
.footer {
flex-direction: column;
padding: 0 118px 24px 16px;
box-sizing: border-box;
}}                         